<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.login22_01_19_h1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.android.alarm.permission.SET_ALARM" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_app_icon_sec_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login220119h1"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity_Card_Centers"
            android:exported="false" />
        <activity
            android:name=".MainActivityNotification"
            android:exported="false" />
        <activity
            android:name=".MainActivity_Card_History"
            android:exported="false"
            tools:ignore="Instantiatable" />

        <activity
            android:name=".Confirmation_Appointment"
            android:exported="false" />
        <activity
            android:name=".MainActivitySpinner"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".Menu.Navigation_Main"
            android:exported="false" />
        <activity
            android:name=".FinalPage"
            android:exported="false" />
        <activity
            android:name=".LoginSingup.signUp_mysqlphp"
            android:exported="false" />
        <activity
            android:name=".LoginSingup.Login_MySql"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ReminderBreodcast" />
    </application>

</manifest>